body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   

}

div {
    color: blue;
}

body {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    
}


main {
    height: 100%;
    width: 868px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
   
}

.left {
    display: grid;
    background-color: rgb(241, 241, 241);
    grid-template-rows: 60px 20px 30px 80px 0px;
    text-align: center;
    padding: 10px;
    border-left: solid 1px rgb(77, 77, 77);
    border-right: solid 1px rgb(77, 77, 77);
    margin-right: 10px;
  

}

.right {
    display: grid;
    background-color: rgb(241, 241, 241);
    grid-template-rows: 60px 180px 180px ;
    border-left: solid 1px rgb(77, 77, 77);
    border-right: solid 1px rgb(77, 77, 77);
    margin-left: 10px;
    text-align: center;

}



.middle {
    display: grid;
    grid-template-rows: 45px 1fr;
   
    text-align: center;
    

}


.header-middle {
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
}

.one-middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 35px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px;
   
}

.two-middle {
    width: 170px;
    padding: 1px;
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
}


.three-middle {
    width: 130px;
    padding: 0px;
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
   
}


.four-middle {
    width: 130px;
    padding: 0px;
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
}


.five-middle {
    width: 130px;
    padding: 0px;
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
    grid-template-rows: 45px 1fr;

}


.six-middle {
    width: 130px;
    padding: 0px;
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
}



.seven-middle {
    width: 130px;
    padding: 0px;
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
}




h3 {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: rgb(241, 241, 241);
    padding: 15px;
    font-size: 15px;

}



h4 {
   
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: rgb(241, 241, 241);
    text-align: center;
   
 
    
}

.boxed {
    background-color: rgb(228, 209, 182);
}


div.mids {
    text-align: center;
}



